
    .main-view-element {
        background: black;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        overflow: auto;
    }

    .param {
        display: inline-block;
        margin: 10px;
        width: 300px;
    }

    /* overall stuff */
    section {
        color: white;
    }

    label {
        text-align: center;
        width: 100%;
        height: 30px;
        font-size: 20px;
        display: block;
        font-family: "verdana";
        padding: 8px;
    }

    input {
        border: none;
        text-decoration: none;
        background: none;
        color: white;
    }

    hr {
        border: 1px solid white;
        width: 40%;
        margin: auto;
    }

    select {
        background: none;
        color: white;
        font-size: 15px;
        margin-top: 20px;
        height: 40px;
    }

    /* label {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-align: center;
        padding: 5px;
    } */

    .selectContainer {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        padding: 20px;
    }

    /* classes */
    .panel {
        color: white;
        border: 1px solid white;
        /* padding: 8px; */
        border-radius: 5px;
    }

    .hflex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
        /* width: 75%; */
    }

    .vflex {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

     .radialSlider input {
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-family: "verdana";
        padding: 8px;
    }


    .radialSVG circle {
        fill: #000;
        stroke-width: 1px;
        stroke: #fff;
    }

    .radialSVG {
        /* width: 10%; */
        filter: drop-shadow(0px 0px 10px rgb(255 255 255 / 0));
        margin: auto;
    }

    .radialSVG line {
    stroke-width: 1px;
    stroke: #fff;
    transform-origin: center center;        
    }

    .fraction {
        margin-top: 10px;
        margin-bottom: 10px;
        /* padding: 8px; */
        font-size: 25px;
        line-height: 28px;
    }

    .staticFraction {
        padding: 8px;
    }

    .inputFraction {
        padding: 8px 8px 8px 20px;
    }
    .referenceDiv {
        padding: 11px;
    }
    .reference {
        /* width: 20%; */
        height: 400px;
        text-align: center;
        padding: 20px;
    }

    .midiRef {
        padding: 15px;
        font-size: 30px;
    }

    .hspacing {
        column-gap: 20px;
    }

    .gridChild {
        font-size: 16px;
        padding-left: 13px;
        padding-right: 13px;
        height: 60px;
        line-height: 50px;
    }

    /* individual elements */
    #outerContainer {
        height: 100%;
        max-width: 1200px;
        min-height: 700px;
        background-image: url('./Untitled.png');
        background-position: 50%;
        background-repeat: repeat;
        background-size: cover;
        background-attachment: scroll;
        border-radius: 0;
    }



    #gridContainer {
        width: 60%;
        column-gap: 20px;
        row-gap: 20px;
        align-content: space-around;
        padding: 9px;
        height: 400px;
        flex-wrap: wrap;
    }
    
    #midiListen {
        margin-top: 10px;
        padding: 15px;
    }

    #midiP {
        padding: 10px;
        font-size: 25px;
    }

    #denominatorDiv {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    #octaveDiv {
        margin-top: 10px;
    }

    #synthSection {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    #ephemeridesSection {
        margin-top: 15px;
    }